---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title="Home">
  <section class="post-list">
    {posts.map((post) => (
      <article class="card">
        <div class="post-meta">
          {post.data.pubDate.toLocaleDateString("zh-CN")}
        </div>
        <h2 class="post-title">
          <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
        </h2>
        {post.data.description && <p>{post.data.description}</p>}
        {post.data.tags && (
          <ul class="tag-list">
            {post.data.tags.map((tag) => (
              <li class="tag">{tag}</li>
            ))}
          </ul>
        )}
      </article>
    ))}
  </section>
</BaseLayout>
